@media screen and (min-width: 1200px) {
  .parent_1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    grid-template-areas: "premier deuxieme troisieme quatrieme ";
    border: 2px solid black;
    margin-right: 5px;
    margin-left: 5px;
    position: sticky;
  }
  .child {
    border: 2px solid black;
    padding: 2%;
  }
  .child:nth-child(1) {
    grid-area: premier;
    margin: 5px 20px 5px 20px;
  }

  .child:nth-child(2) {
    grid-area: deuxieme;
    margin: 5px 20px 5px 20px;
  }

  .child:nth-child(3) {
    grid-area: troisieme;
    margin: 5px 20px 5px 20px;
  }

  .child:nth-child(4) {
    grid-area: quatrieme;
    margin: 5px 20px 5px 20px;
  }
  .parent_2 {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "premier premier premier "
      "deuxieme deuxieme troisieme"
      "deuxieme deuxieme troisieme"
      "deuxieme deuxieme quatrieme"
      "cinquieme cinquieme cinquieme";

    border: 2px solid rgb(255, 255, 255);
    grid-auto-rows: 20%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    text-align: center;
  }
  .styles {
    border: 2px solid black;
    padding: 5%;
    font-style: bold;
    font-size: 200%;
  }
  .child_1 {
    grid-area: premier;
    margin: 0px 0px 5px 0px;
  }
  .child_2 {
    grid-area: deuxieme;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 30px;
    padding: 25%;
  }
  .child_3 {
    grid-area: troisieme;
    margin-bottom: 20px;
    padding: 25%;
    margin-top: 30px;
  }
  .child_4 {
    grid-area: quatrieme;
    padding: 10%;
  }
  .child_5 {
    grid-area: cinquieme;
    margin-top: 50px;
    padding: 5%;
  }
}
